modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173

[[ports]]
localPort = 5175
externalPort = 3000
exposeLocalhost = true

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Start Development"
author = 40159878

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev & npm run server"

[[workflows.workflow]]
name = "Run"
author = 40159878

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
